.header-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(17, 23, 43) 100%);
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 2px rgba(2, 2, 2, 0.4);
  .home-link {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0.5rem;
    font-weight: bold;
    .movies-title {
      color: white;
      transition: 500ms;
    }
    .break {
      color: rgb(92, 91, 91);
    }
    .tvS {
      transition: 500ms;
      color: goldenrod;
    }
    .home-hover {
      display: flex;
      opacity: 0;
      text-decoration: none;
      color: gray;
      margin-left: 1.3rem;
      font-size: 14px;
    }
  }

  .home-link:hover {
    .movies-title {
      color: goldenrod;
    }
    .tvS {
      color: rgb(255, 255, 255);
    }
    .home-hover {
      opacity: 1;
      transition: 500ms;
    }
  }
  .input-icon {
    position: relative;
    display: inline-block;
    width: 272px;
    height: 30px;
    .input-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      color: goldenrod;
      font-size: 22px;
      margin-top: 5px;
      border-bottom: 1px solid rgb(255, 255, 255, 0.8);
      transition: 1s;
      text-transform: capitalize;
      font-family: "Inter", sans-serif;
    }
    .input-bar:focus {
      outline: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .input-bar::placeholder {
      font-family: "Inter", sans-serif;
      color: rgba(255, 255, 255, 0.8);
    }
    .input-bar:focus::placeholder {
      opacity: 0.5;
      transition: 1s;
    }
    .input-bar:focus + .search-icon {
      color: goldenrod;
    }
    .search-icon {
      position: absolute;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0rem;
      left: 16.5rem;
      margin-top: 4px;
      transform: scale(1.4);
    }
  }

  .error {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    bottom: -9px;
    left: 58.8%;
    color: goldenrod;
    font-weight: bold;
    background: linear-gradient(
      280deg,
      rgb(0, 0, 0) 10%,
      rgb(60, 81, 151) 100%
    );
    border-radius: 0.4em;
    height: 20px;
    text-shadow: 0px 2px 3px black;
  }

  .error:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: rgb(60, 81, 151);
    border-left: 0;
    margin-top: -6px;
    margin-left: -6px;
  }
  .favorites-log-out-container {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    right: 0rem;

    .header-line {
      border-right: 1px solid rgba(128, 128, 128, 0.4);
      margin-top: 2px;
      height: 17px;
    }

    .log-out-header-button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border: none;
      background-color: transparent;
      font-size: 16px;
      font-weight: bold;
      font-family: "Inter", sans-serif;
      padding: 0;
      cursor: pointer;
      &:hover {
        color: rgb(252, 200, 69);
      }
      .log-out-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
        font-size: 17px;
      }
    }
    .watch-later-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        border-radius: inherit;
        border-bottom: 2px solid goldenrod;
      }
    }
    .favorites-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        border-radius: inherit;
        border-bottom: 2px solid goldenrod;
      }
    }
  }

  .Login-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    right: 1rem;
    cursor: pointer;
    &:hover {
      color: rgb(252, 200, 69);
    }
  }
}
