.already-wached-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-x: auto;
  width: 97%;

  .already-wached-list-title {
    margin-bottom: 5px;
    margin-top: 0;
    width: 100%;
    color: rgba(218, 165, 32, 0.8);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 22px;
  }
  .note-false-already-wached {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    width: 100%;
    .icon-false-already-wached {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color: rgba(50, 215, 120, 0.6);
      margin-top: 1rem;
    }
  }

  .already-wached-list {
    display: flex;
    gap: 30px;
    padding: 5px;

    .already-wached-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 235px;
      height: 400px;
      background-color: rgb(35, 40, 50);
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

      .already-wached-poster {
        object-fit: fill;
        width: 225px;
        height: 310px;
        margin-top: 10px;
        border-radius: 0.3rem;
        opacity: 0.8;
      }

      .title-url-button-already-wached {
        display: flex;
        width: 100%;
        flex-direction: column;
        .already-wached-title {
          font-size: 16px;
          margin: 0.5rem 0rem 0.5rem 0.5rem;
        }
        .span-url-button-already-wached {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 0.5rem 0.5rem 1rem 0.5rem;

          .already-wached-url {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 25px;
            padding: 0px 10px;
            border: 1px solid rgba(128, 128, 128, 0.7);
            border-radius: 1rem;
            text-decoration: none;
            font-size: 15px;
            color: rgb(255, 255, 255);
            &:hover {
              border: 1px solid rgb(167, 167, 167);
            }
          }
          .remove-button-already-wached {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            width: 40px;
            height: 30px;
            padding: 0;
            background-color: transparent;
            color: rgba(128, 128, 128, 0.7);
            font-size: 25px;
            cursor: pointer;
            &:hover {
              color: gray;
            }
          }
        }
      }
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: black;
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(218, 165, 32, 0.7);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: goldenrod;
}
