.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  // overflow: hidden;
  background-color: #111520;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
}
